.blockBoutique {
  margin-top: 2%;
}

.logoPartenaire1 {
  margin-bottom: 10px;
  width: 150px;
  height: 100px;
}

.logoPartenaire2 {
  margin-bottom: 10px;
  width: 150px;
  height: 150px;
}

.colorBox {
  background-color: white;
  margin-top: 5%;
  margin-bottom: 2%;
  padding: 1%;
}

.contactLinkBoutique {
  color: black;
  font-size: 25px;
  padding-top: 2%;
}

.textBoutique {
  margin-top: 2%;
}
