.title-boutique {
    margin-top: 15%;
    margin-bottom: 8%;
}

.sousTitleBoutique {
  padding-bottom: 2%;
}

.logoPartenaire {
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}

.colorBox {
  background-color: white;
  margin-top: 5%;
  margin-bottom: 2%;
  padding: 1%;
}

.contactLinkBoutique {
    color: black;
    font-size: 25px;
    padding-top: 2%;
}

.textBoutique {
  margin-top: 2%;
}

