.title-realisation {
    margin-top: 9%;
    margin-bottom: 5%;
    color: orangered;
}

.title-production {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 0.7vw;
}

.title-realisation-carousel{
    margin-top: 15vh;
    /*color: orangered;*/
    font-size: 18px;
    font-style: italic;
}

.production-before {
    /*background-color: #86b68e;*/
    background-size: cover;
}

.production-after {
    /*margin-top: 6%;*/
    /*background-color: #c7dece;*/
}


/*.item>img {*/
    /*width: 100%;*/
/*}*/
.carousel-content{
    border-right: 1px solid #E3E3E3;
}

#myCarousel1{
    width: 60%;
    margin: auto;
    /*margin-bottom: 5%;*/

}

#myCarousel2{
    width: 60%;
    margin: auto;
    /*margin-bottom: 5%;*/
}

.production-image-carousel{
    height: 300px;
}

.img-realisation{
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.production-title {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 2vw;
}
/*admin*/
.productionPicture {
    margin-bottom: 5%;
}

.admin-title-center {
    text-align: center;
    font-size: 3vw;
    margin-bottom: 5%;
}

.whizzi-form {
    width: 30%;
    margin-left: 35%;
}

.text-production {
    margin-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 15px;
}

.production-text-title{
    font-weight: bold;
    color: orangered;
    text-align: center;
    font-size: 18px;
    margin-top: 5%;
}

.production-content {
    /*background-color: #c7dece;*/
}

.content-row {
    display: flex;
    justify-content: center;
}

.production-list {
    margin-bottom: 3%;
}

.customer-reviews{
    margin-bottom: 5%;
}

.customer-reviews-title{
    margin-top: 3%;
    font-weight: bold;
    color: orangered;
    text-align: center;
    font-size: 18px;
}

.customer-reviews-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-left:15%;
    margin-right: 15%;
}

.customer-reviews-text{
    font-style: italic;
    font-size: 18px;
    width: 70%;
}

.customer-reviews-stars{
    text-align: center;
    width: 30%;
}

.glyphicon-star{
    font-size: 30px;
}

.checked{
    color: #ffe462;
}

.shadow-content-production{
    height: 31vh;
}

.shadow-content-show-production{
    height: 15vh;
}

.folders-content{
    display: flex;
    justify-content: center;
}

.title-folder{
    text-align: center;
    font-size: 30px;
}

.production-list-img{
    background-size: cover;
    height: 20vh;
}

.realisation-title-step{
    margin-top: 9%;
    font-size: 25px;
    margin-left: -1%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    margin-bottom: 2%;
}
.logo-house-production-img-content{
    margin-top: 8%;
}

.production-head-content{
    display: flex;
    justify-content: center;
}
