.title-boutique {
    margin-top: 5%;
    margin-bottom: 8%;
}

.logoPartenaire {
  border: 1px solid #5cb85c;
  margin-top: 10px;
  margin-bottom: 10px;
}

.colorBox {
  /* border: 1px solid #5cb85c; */
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 1%;
}

.contactLinkBoutique {
    color: black;
    font-size: 25px;
    padding-top: 2%;
}

.textBoutique {
  margin-top: 2%;
}
