
.heightFooter {
    border-top: 1px solid lightgray;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2%;
}

.mention {
    display: flex;
    justify-content: center;

}

.logoWDFooter {
    display: block;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 2%;
    width: 10%;

}

.textMentions {
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 3%;
    font-size: 13px;
}

.linkFooter{
    font-size: 13px;
    color: #333;
}

.linkFooter:hover{
    color: orangered;
    text-decoration: none;
    cursor: pointer;
}

.modal-link{
    font-size: 14px;
}

