/*--index presta--*/

.page-content{
  margin-top: 7%;
}

.presta-section{
  width: 95%;
  margin-bottom: 3%;
}

.section-gift-background-content{
  background-image: url("../images/bois.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 0;
  padding-top: 3%;
  height: 78vh;
}

.section-text-left-content{
  background-color: rgba(255,255,255,0.7);
  position: absolute;
  width: 30vw;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 4%;
  z-index: 2;
}

.section-text-right-content{
  background-color: rgba(255,255,255,0.7);
  position: absolute;
  width: 33vw;
  padding-left: 3%;
  margin-left: 41.5%;
  /*margin-right: 0;*/
  padding-right: 3%;
  padding-top: 4%;
  z-index: 2;
}
.logo-house-img{
  position: absolute;
  width: 80px;
  margin-top: -6%;
  /*top: -15px;*/
}

.my-section-title{
  font-size: 20px;
  margin-left: 10%;
  background-image: linear-gradient(to left, #00a500, rgba(255,0,0,0));
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  width: 75%;
}

.my-section-title-step{
  font-size: 20px;
  margin-left: 10%;
  background-image: linear-gradient(to left, #00a500, rgba(255,0,0,0));
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  width: 30%;
}


.section-def{
  font-size: 15px;
  margin-left: 11%;
  margin-top: 4%;
  margin-bottom: 4%;
}

.presta-text{
  font-size: 13px;
  padding-bottom: 4%;
}

.planche-cuisine-img{
  position: absolute;
  width: 450px;
  margin-left: 42%;
  margin-top: -4%;
  z-index: 1;
}

.planche-salon-img{
  position: absolute;
  width: 450px;
  margin-left: 47%;
  margin-top: 27%;
  z-index: 2;
}

.section-illu{
  padding: 0;
}

.esquisse-img{
  margin-top: 15%;
}

.section-brainstorming-background-content{
  background-image: url("../images/texture-blanc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 0;
  padding-top: 3%;
  height: 74vh;
}

.section-subtitle{
  font-size: 20px;
}

.section-subtitle-litle{
  font-size: 16px;
}

.commode-img{
  position: absolute;
  width: 750px;
  margin-top: -2%;
  z-index: 1;
}

.braintorming-img-content{
  width: 95%;
}

.brainstorming-img{
  margin-top: 15%;
}

.section-intention-project-background-content{
  background-image: url("../images/texture-blanc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 0;
  padding-top: 3%;
  height: 78vh;
}

.cartouche-planche-1-img{
  position: absolute;
  width: 375px;
  margin-left: 44%;
  margin-top: -5%;
  z-index: 1;
}

.cartouche-planche-2-img{
  position: absolute;
  width: 375px;
  margin-left: 39%;
  margin-top: 33%;
  z-index: 1;
}

.cartouche-planche-3-img{
  position: absolute;
  width: 375px;
  margin-left: 57%;
  margin-top: 15%;
  z-index: 2;
}

.section-budget-background-content{
  background-image: url("../images/texture-blanc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 0;
  padding-top: 3%;
  height: 70vh;
}

.money-img{
  position: absolute;
  width: 470px;
  margin-top: -2%;
  z-index: 1;
}

.paper-note-img{
  position: absolute;
  width: 370px;
  margin-top: 25%;
  margin-left: 18%;
  z-index: 2;
}

.section-work-background-content{
  background-image: url("../images/texture-blanc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 0;
  padding-top: 3%;
  height: 78vh;
}

.work-before-img{
  position: absolute;
  width: 450px;
  margin-left: 32%;
  margin-top: -3%;
  z-index: 1;
}

.work-after-img{
  position: absolute;
  width: 550px;
  margin-left: 36%;
  margin-top: 23%;
  z-index: 2;
}

.points-border{
  margin-bottom: 3%;
}

.orangered-point{
  width: 13px;
  height: 13px;
  border-radius: 13px;
  background-color: orangered;
  margin-left: auto;
  margin-right: auto;
  /*margin-top: 15px;*/
  /*text-align: center;*/
}