@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

.heightFooter {
    background: white;
    border-top: 1px solid orangered;
}

.mention {
    color: black;
}

.nameDev {
    color: black;
    font-size: 13px;
    font-family: 'Telex', sans-serif;
}

.nameDev:hover {
    color: black;
}

.logoWDFooter {
    width: 150px;
    padding-top: 1%;
}


.logoFooter {
    width: 40px;
    background-color: white;
    border-radius: 50%;
}

.textMentions {
  font-size: 13px;
}

.addressFooter {
    padding-top: 1%;
    color: black;
    font-size: 13px;
    font-family: 'Telex', sans-serif;
}

.linkFooter {
    padding-top: 1%;
    color: black;
    font-size: 13px;
    font-family: 'Telex', sans-serif;
}

.linkFooter:hover {
    color: black;
    font-size: 13px;
    font-family: 'Telex', sans-serif;
}
