.titleContact {
    margin-top: 10%;
    margin-bottom: 5%;
}

.addressContact {
    color: black;
    padding: 1%;
}


.contactLink:hover {
    color: black;
}

.portraitImg {
    margin-bottom: 15%;
    margin-top: -10%;
}

.api-map {
    padding-top: 1%;
    padding-left: 3%;
}