/* .bloc-contact {
    margin-top: 6%;
} */

li {
    text-decoration: none;
 }

.glyphicon {
    padding: 1%;
}

.title-contact {
    margin-bottom: 10%;
}

.contact-text {
    padding: 3% 0 3% 0;
}

.contactLink {
    color: black;
    font-size: 18px;
    font-family: 'Telex', sans-serif;
}

.contact:hover {
    color: black;
    font-size: 18px;
    font-family: 'Telex', sans-serif;
}

.contactLink:hover {
    color: black;
}

.api-map {
    margin-left: 3%;
    margin-bottom: 5%;
}

.portrait-pics {
    font-size: 15%;
}

.bloc-form {
    margin-top: 1%;
}
