.backgroundIndex {
    margin-top: -7%;
}

.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-control {
    z-index: 2;
}

/* carousel fullscreen */

.carousel-fullscreen .carousel-inner .item {
    height: 95.5vh;
    min-height: 600px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* carousel fullscreen - vertically centered caption*/

.carousel-fullscreen .carousel-caption {
    top: 50%;
    bottom: auto;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

/* overlay for better readibility of the caption  */

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-out;
}

.title {
    font-size: 30px;
    background-image: linear-gradient(to left, #00a500, rgba(255,0,0,0));
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    /*text-align: center;*/
}

.history-title{
    font-size: 30px;
    /*margin-left: 10%;*/
    background-image: linear-gradient(to left, #00a500, rgba(255,0,0,0));
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    width: 75%;
}

#bgHome1 {
    /*background-image: url(../images/papier-japonnais.jpg);*/
    /*background-position: top;*/
    /*box-shadow: 6px 6px 6px grey;*/
    background-image: linear-gradient(to right, orangered, white);
}

#bgHome2 {
    /*background-image: url(../images/papier-japonnais.jpg);*/
    /*background-position: top;*/
    /*box-shadow: 6px 6px 6px grey;*/
    background-image: linear-gradient(to right, orangered, white);
}

#bgHome3 {
    /*background-image: url(../images/papier-japonnais.jpg);*/
    /*background-position: top;*/
    /*box-shadow: 6px 6px 6px grey;*/
    background-image: linear-gradient(to right, orangered, white);
}

.fixedbgHome {
    position: relative;
    width: 100%;
    height: 75px;
    margin-bottom: 5vh;
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

.logoNav2 {
    margin-top: 8%;
    width: calc(500px - 5%);
}

.sous-title-advantage {
    padding-bottom: 3%;
}

.advantage-description {
    /*padding-bottom: 1%;*/
    text-align: center;
}

.sketchs {
    margin-top: 10vh;
}

.sketchs-content {
    margin-top: 5vh;
}

.videoBlock {
    margin-top: 5%;
    padding-bottom: 5%;
}

.descriptionVirtuel {
    padding-top: 2%;
}

.whizziVideo {
    width: 90%;
    height: auto;
    box-shadow: 6px 6px 6px grey;
}

.border-virtual {
    /*margin-top: 2%;*/
    border: 1px solid orangered;
    border-radius: 5px;
    padding: 1%;
    box-shadow: 6px 6px 6px grey;
}

.positionAvantage {
    padding-bottom: 2%;
}

.gift-icon {
    width: 100px;
    padding: 1%;
}

.gifts-content {
    margin-bottom: 2vh;
}

.gifts-description {
    padding-top: 100px;
}

.giftcard-image {
    width: 950px;
    margin-bottom: 1%;
}

.advantage-content {
    margin-bottom: 5vh;
    margin-top: 5px;
    margin-left: 7%;
    margin-right: 7%;
}

.my-history{
    margin: 2% 10% 3% 10%;
}
.history-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9%;
}

.history-img-img{
    display: block;
    max-width: 71%;
    /*min-width:100%;*/
    /*margin-top: 35%;*/
}

.history-text {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: 'Telex', sans-serif;
}

.history-details-title{
    font-weight: bold;
    text-align: center;
}

.inspirations{
    margin-top: 5%;
}

#carousel-love-image{
    width: 72%;
    margin: auto;
}

.love-img{
    margin: auto;
}


.my-love-image-carousel{
    /*height: 300px;*/
}

.inspiration-img{
    width: 72%;
    /*height: 300px;*/
    display: block;
    margin: auto;
}

.favorite-material{
    display: flex;
    justify-content: center;
    align-items: center;
}

.favorite-material-img{
    display: block;
    /*height: 500px;*/
}
#text-machine {
    z-index: 1000;
    margin-left: 12%;
    margin-right: 10%;
    font-size: 37px;
    font-style: italic;
    color: orangered;
    margin-top: 30%;
    position: absolute;
}


#text-machine-author {
    z-index: 1000;
    margin-left: 70%;
    /*margin-right: 10%;*/
    /*width: 100px;*/
    font-size: 20px;
    color: orangered;
    margin-top: 34%;
    position: absolute;
}


.following-page{
    margin-left: 85%;
    margin-bottom: 2%;
}

.following-page > a{
    color: black;
    font-size: 18px;
}

.illu-img{
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 140px;
}


/***********CONSTRUCTION PAGE*************/

.my-html,
.my-body {
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    height: 100%;
    background: #eeeef4;
    font-weight: 100;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

main {
    height: 100%;
    display: flex;
    margin: 0 20px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main h1 {
    font-size: 3em;
    font-weight: 100;
    color: #f44;
    margin: 0;
}
main h2 {
    font-size: 1.5em;
    font-weight: 100;
    margin-bottom: 0;
}
main h3 {
    font-size: 1.5em;
    font-weight: 100;
    margin-top: 0;
}
main a {
    font-size: 1.5em;
    font-weight: 300;
    color: #f44;
    text-decoration: none;
}


/***********FIN CONSTRUCTION PAGE*************/



