@import url('https://fonts.googleapis.com/css?family=Roboto');
.colorNav {
  background: white;
  margin: 0;
}

.linkNav {
  color: black;
  font-size: 15px;
  margin-right: 10%;
  font-family: 'Roboto', sans-serif;
}

.subLinknav {
    color: black;
    font-size: calc(2px + 1vw);
    margin-right: 1%;
    font-family: 'Roboto', sans-serif;
}

.logoNav {
  padding-top: 1%;
  padding-left: 3%;
  width: 180px;
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 14px 15px;
  margin-top: 20px;
  margin-right: 20px;
  background-color: transparent;
  background-image: none;
  border: 1px solid white;
  border-radius: 4px;
}

.navbar-toggle .icon-bar {
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background: black;
}
.nav > li {
  margin-top: 3%;
}

.nav > li > a:focus, .nav > li > a:hover {
  text-decoration: none;
  color: orangered;
  background-color: transparent;
}

.logoNavShare {
  margin-top: -6px;
  width: 25px;
  background-color: white;
  border-radius: 50%;
}

.incline-divider {
  clear: both;
  position: absolute;
  margin-top :10px;
  margin-left: 200px;
  height: 70px;
  width : 1px;
  background: black;
}

.black-divider
{
  width: 100%;
  height: 2px;
  background: black;
  margin-top: 80px;
}
