h1, a {
    font-size: 60px;
    font-family: 'Dancing Script', cursive;
}

h2 {
    font-size: 55px;
    font-family: 'Dancing Script', cursive;
}

h3 {
    font-size: 45px;
    font-family: 'Dancing Script', cursive;
}

p {
    font-size: 18px;
    font-family: 'Telex', sans-serif;
}

.ancre-top {
    color: black;
    font-size: 18px;
    font-family: 'Telex', sans-serif;
    margin-top: 2%;
}

.ancre-top:hover {
    color:black;
}
