@import url('https://fonts.googleapis.com/css?family=Lato');

h1, a {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 18px;
    font-family: 'Telex', sans-serif;
}

ul,ol
{
    list-style:none;
}

.ancre-top {
    color: black;
    font-size: 18px;
    font-family: 'Telex', sans-serif;
    margin-top: 2%;
}

.ancre-top:hover {
    color:black;
}

.positionBody {
  padding-top: 9%;
}
