.backgroundIndex {
  background-image: url("../images/v2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 980px;
  margin-top: -7%;
}

.title {
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
  color: orangered;
}

.title-my-history {
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    color: orangered;
}

.logoNav2 {
  margin-top: 8%;
  width: calc(500px - 5%);
}

.advantage-description {
  padding-bottom: 2%;
}

.sketchs {
  margin-top: 10vh;
}

.sketchs-content {
  margin-top: 5vh;
}

.videoBlock {
  padding-bottom: 5%;
}

.descriptionVirtuel {
  padding-top: 2%;
}

.whizziVideo {
  width: 90%;
  height: auto;
}

.positionAvantage {
  padding-bottom: 2%;
}

.gift-icon {
  width: 25%;
  padding: 1%;
  margin-left: 30%;
}

.gifts-content {
  margin-bottom: 7vh;
}

.gifts-description {
  padding-top: 5vh;
}

.giftcard-image {
  width: 550px;
  marging-bottom: 2%;
}

.advantage-content {
    margin-bottom: 10vh;
    margin-top: 5vh;
    margin-left: 7%;
    margin-right: 7%;
}

.history-img {
    margin-top: 10%;
}

.history-content {
    background-color: white;
    border-radius: 15px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 2%;
}
