.backgroundAdminIndex {
    background-image: url("../images/accueilAdmin.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 980px;
    margin-top: -7%;
}