@import url('https://fonts.googleapis.com/css?family=Roboto');
.colorNav {
    background: white;
    margin: 0;
}

.linkNav {
    color: black;
    font-size: calc(8px + 1vw);
    margin-right: 1%;
    font-family: 'Roboto', sans-serif;
}

.logoNav {
    padding-top: 1%;
    padding-left: 1%;
    width: 230px;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 14px 15px;
    margin-top: 45px;
    margin-right: 20px;
    background-color: transparent;
    background-image: none;
    border: 1px solid white;
    border-radius: 4px;
}

.navbar-toggle .icon-bar {
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background: white;
}

.nav > li {
    margin-top: 5%;
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    color: orangered;
    border-bottom: 1px solid orangered;
    background-color: transparent;
}
