.backgroundIndex {
    background-image: url("../images/picsW2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 900px;
}

.title {
    font-size: 3vw;
    text-align: center;
    margin-bottom: 10vh;
}

.sketchs {
    margin-top: 10vh;
}

.gifts {
    margin-top: 10vh;
}

.gifts-content {
    margin-bottom: 7vh;
}

.advantage-content {
    margin-bottom: 10vh;
}