{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur {{ parent() }}{% endblock %}
{% block body %}

    <div id="haut" class="container-fluid">
        <h1 class="text-center title-boutique">Boutique</h1>



    </div>

    <div class="positionAncretop text-center">
        <a class="ancre-top" href="#haut">Retour haut de page</a>
    </div>
{% endblock %}