{% extends 'baseAdmin.html.twig' %}

{% block body %}

    <div id="haut" class="container-fluid">
        <h1 class="text-center title-boutique"> Mes Partenaires</h1>
        <div class="row list-partners">
        {% for partner in partners %}
                <div class="col-md-2">
                    <a href="{{ path('partners_edit', { 'id': partner.id }) }}" class="thumbnail">
                        <img class="img-responsive"
                             src="{{ asset( 'uploads/partner/' ~ partner.imageName) }}"
                        />
                    </a>
                    <div class="col-md-offset-4 col-md-5">
                        {{ form_start(delete_form[partner.id]) }}
                        <input type="submit" class="btn btn-danger"  value="Supprimer"/>
                        {{ form_end(delete_form[partner.id]) }}
                    </div>
                </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
