{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur {{ parent() }}{% endblock %}

{% block body %}
    <div class="container-fluid backgroundPrestation">
        <h1 class="title-prestation text-center">PROFESSIONEL</h1>


    </div>

{% endblock %}