{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <div id="haut" class="container-fluid backgroundAdminIndex">
        <div class="logoHome"></div>
        <p class="admin-title">Espace d'administration</p>
    </div>
{% endblock %}
