{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur {{ parent() }}{% endblock %}
{% block body %}
    <div class="container-fluid backgroundIndex">
        <div class="logoHome"></div>
    </div>

{% endblock %}