{% extends 'baseAdmin.html.twig' %}

{% block body %}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    <div class="container-fluid">

        <h1 class="admin-title-center">Creer une Réalisation</h1>

        <div class="whizzi-form">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" class="btn btn-success"  value="Valider"/>
            {{ form_end(form) }}
        </div>
        <div class="col-md-offset-10 col-md-1 back-button">
            <a href="{{ path('admin') }}">
                <button class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span> Retour</button>
            </a>
        </div>
    </div>
{% endblock %}
