{% extends 'base.html.twig' %}

{% block body %}

    <section class="container-fluid sketchs">
        <h1 class="title">Mes Projets</h1>
        <div class="row sketchs-content">
            {% for productionPicture in productionPictures %}
                {% for newTab in newTabs %}
                    {% if productionPicture.updatedAt == newTab[1] %}
                    <div class="col-xs-6 col-md-4">
                        <a href="#" class="thumbnail">
                            <img src="{{ asset( 'uploads/production/' ~ productionPicture.imageName) }}" alt="image">
                        </a>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </section>

{% endblock %}
