{% extends 'base.html.twig' %}

{% block body %}

    <section class="container-fluid production-content">
        <h1 class="title-realisation text-center">Mes différentes réalisations</h1>
        <div class="row content-row">
            {% for productionPicture in productionPictures %}
                {% for newTab in newTabs %}
                    {% if productionPicture.updatedAt == newTab[1] %}
                    <div class="col-xs-6 col-md-2 ">
                        <p class="title-production">{{ productionPicture.afterProduction.title }}</p>
                        <a href="{{ path('production_show', { 'id': productionPicture.afterProduction.id }) }}" class="thumbnail">
                            <img src="{{ asset( 'uploads/production/' ~ productionPicture.imageName) }}" alt="image">
                        </a>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </section>

{% endblock %}
