{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid backgroundIndex">
        <div class="logoHome"></div>
    </div>

    <div class="container-fluid sketchs">
        <h1 class="title">quelques une de mes réalisations</h1>
        <div class="row">
            {% for sketch in sketchs %}
            <div class="col-xs-6 col-md-4">
                <a href="#" class="thumbnail">
                    <img src="{{ asset( 'uploads/sketch/' ~ sketch.imageName) }}" alt="image">
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
