{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid backgroundIndex">
        <div class="logoHome"></div>
    </div>

    <section class="container-fluid sketchs">
        <h1 class="title">quelques une de mes réalisations</h1>
        <div class="row sketchs-content">
            {% for sketch in sketchs %}
            <div class="col-xs-6 col-md-4">
                <a href="#" class="thumbnail">
                    <img src="{{ asset( 'uploads/sketch/' ~ sketch.imageName) }}" alt="image">
                </a>
            </div>
            {% endfor %}
        </div>
    </section>

    <section class="container-fluid gifts">
        <p class="title">CARTE CADEAU</p>
        <div class="row gifts-content">
            <p class="gifts-description col-md-offset-1 col-md-6">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor,
                dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam.
                Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy
                molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa,
                scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue. Ut in risus volutpat libero
                pharetra tempor. Cras vestibulum bibendum augue. Praesent egestas leo in pede. Praesent blandit odio eu
                enim. Pellentesque sed dui ut augue blandit sodales. Vestibulum ante ipsum primis in faucibus orci
                luctus et ultrices posuere cubilia Curae; Aliquam nibh. Mauris ac mauris sed pede pellentesque
                fermentum. Maecenas adipiscing ante non diam sodales hendrerit.
            </p>
            <div class="gifts-img col-md-offset-2 col-md-3">
                <img  class="giftcard-image" src="{{ asset('assets/images/giftcard.png') }}" alt="image cadeau">
            </div>
        </div>
        <div class="row advantage-content">
            <div class="gifts-advantage col-md-offset-1 col-md-2">
                <div class="gifts-icon">
                    <img src="" alt="icône">
                </div>
                <p class="advantage-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor,
                    dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam.
                    Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy
                    molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat.
                </p>
            </div>
            <div class="gifts-advantage col-md-offset-1 col-md-2">
                <div class="gifts-icon">
                    <img src="" alt="icône">
                </div>
                <p class="advantage-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor,
                    dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam.
                    Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy
                    molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat.
                </p>
            </div>
            <div class="gifts-advantage col-md-offset-1 col-md-2">
                <div class="gifts-icon">
                    <img src="" alt="icône">
                </div>
                <p class="advantage-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor,
                    dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam.
                    Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy
                    molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat.
                </p>
            </div>
        </div>
    </section>
    <section class="container-fluid my-history">
        <p class="title">MON HISTOIRE</p>
        <div class="row ">
            <div class="history-img col-md-offset-2 col-md-3">
                <img src="{{ asset( 'uploads/history/' ~ homes.imageName) }}" alt="image">
            </div>
            <div class="history-content col-md-6">
                {{ homes.historyText|raw }}
            </div>
        </div>
    </section>
{% endblock %}
