{% extends 'baseAdmin.html.twig' %}

{% block body %}

    <section class="container-fluid">
        <h1 class="text-center title-boutique">Liste des Articles</h1>
        <div class="row sketchs-content">
            {% for article in articles %}
                <div class="col-md-2 list-articles">
                    <a href="{{ path('article_edit', { 'id': article.id }) }}" class="thumbnail">
                        <img src="{{ asset( 'uploads/article/' ~ article.imageName) }}" alt="image">
                    </a>
                    <div class="col-md-offset-4 col-md-5">
                        {{ form_start(delete_form[article.id]) }}
                        <input type="submit" class="btn btn-danger"  value="Supprimer"/>
                        {{ form_end(delete_form[article.id]) }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}


