{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}
{% block navbar %}{% endblock %}
{% block body %}
    <p>Expediteur : {{ name }} <br>
    <p>Email : {{ email }}</p>
    <p>Message: {{ message }}</p>
{% endblock %}
{% block footer %}{% endblock %}
{% block javascripts %}{% endblock %}